<% if @stylists.any? %>
<h2>Stylists</h2>
<ul>
  <% @stylists.each do |stylist| %>
    <li>
      <a href="/stylist/<%= stylist.id %>/edit" id="stylist_edit"><%= stylist.name %></a>
      <form action="/stylists" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= stylist.id %>">
        <button type="submit" id="stylist_delete"><span class="glyphicon glyphicon-remove"></span></button>
      </form>
    </li>
  <% end %>
</ul>
<% end %>

<% if @clients.any? %>
<h2>Clients</h2>
<ul>
  <% @clients.each do |client| %>
    <li>
      <a href="/client/<%= client.id %>/edit" id="client_edit"><%= client.name %></a>
      <form action="/clients" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= client.id %>">
        <button type="submit" id="client_delete"><span class="glyphicon glyphicon-remove"></span></button>
      </form>
    </li>
  <% end %>
</ul>
<% end %>

<div class="btn-group" role="group">
  <a href="/stylists/new" class="btn btn-primary btn-lg active" role="button">Add a Hair Stylist</a>
</div>

<div class="btn-group" role="group">
  <a href="/clients/new" class="btn btn-primary btn-lg active" role="button">Add a Client</a>
</div>
